<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Categories</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Категории новостей</h1>
        <ul>
            {% for category in categories %}
            <li><a href="{{ url_for('news', category=category) }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('upload') }}">Загрузить файл с новостями (Нужен пароль)</a>
    </div>
</body>
</html>
